.banner {
  display: flex;
  width: 100%;
  height: 100vh;

  .imgContainer {
    aspect-ratio: 1440 / 1000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    max-height: 100vh;
    z-index: 0;
    overflow: hidden;


    video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    //&:before {
    //  content: '';
    //  position: absolute;
    //  top: 50%;
    //  left: 50%;
    //  transform: translate(-50%, -50%);
    //  width: 200%;
    //  height: 200%;
    //  background-color: rgba(0, 0, 0, 0.9);
    //  z-index: 1;
    //}
  }

  .intro {
    display: block;
    z-index: 1;
    //border: solid 1px blue;
    margin: 0 0 3rem 2rem;
    align-self: end;
    max-width: 45vw;

    .introText {
      color: #FFFFFF;
      font-size: 2.3rem;
      font-variation-settings: 'wdth' 100, 'wght' 200;
      text-transform: uppercase;

      span {
        font-family: Dahlia, serif;
        background-clip: text;
        -webkit-background-clip: text;
        background-image: linear-gradient(270deg, #7f02fc -50%, #349bd5);
        color: transparent;
      }
    }
  }

  .leftTextContainer {
    display: block;
    position: absolute;
    top: 50%;
    left: 9%;
    transform: translate(0, -50%);

    .surname,
    .name {
      font-size: 7rem;
      color: #FFFFFF;
      margin: 0;
      font-family: "Oroban Elegans", serif;
      text-transform: uppercase;
      -webkit-font-smoothing: antialiased;
    }

    .surname + .name {
      margin-top: -2.5rem;
    }

  }

  .rightTextContainer {
    display: block;
    position: absolute;
    top:63%;
    right: 9%;

    .jobPart1,
    .jobPart2 {
      font-size: 2.3rem;
      color: #FFFFFF;
      margin: 0;
      font-variation-settings: 'wdth' 100, 'wght' 200;
      text-transform: uppercase;
    }

  }
}