

:root {
}

$font-base : 'Mona Sans', sans-serif;
$font-alt : 'NewYork', serif;

@font-face {
  font-family: 'Dahlia';
  src: url('../public/fonts/Dahlia-Medium.woff2') format('woff2'),
  url('../public/fonts/Dahlia-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NewYork';
  font-style: normal;
  font-weight: 400;
  src: local('NewYork'), local('NewYork'), url('../public/fonts/NewYork.woff2') format('woff2');
}

@font-face {
  font-family: 'Mona Sans';
  src: url('../public/fonts/Mona-Sans.woff2') format('woff2 supports variations'),
  url('../public/fonts/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-size: clamp(14px, 1.5vw, 18px);
  font-family: $font-base;
  font-variation-settings: 'wght' 100, 'wdth' 100;

}

body {
  background: #000;
}
