
:root {
}

$font-base: 'Mona Sans', sans-serif;
$font-alt: 'NewYork', serif;

@font-face {
  font-family: 'Mona Sans';
  src: url('../public/fonts/Mona-Sans.woff2') format('woff2 supports variations'),
  url('../public/fonts/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

@font-face {
  font-family: 'Apoc Revelations';
  src: url('../public/fonts/Apoc-Revelations-Variable[wght].woff2') format('woff2'),
  url('../public/fonts/Apoc-Revelations-Variable[wght].woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-size: clamp(14px, 1.5vw, 18px);
  font-family: $font-base;
  font-variation-settings: 'wght' 100, 'wdth' 100;
}

a {
  text-decoration: underline;
  color: inherit;
}

h2 {
  font-size: 1rem;
  color: #FFFFFF;
  padding: 0 3rem 3rem 3rem;
  font-family: "Mona Sans", sans-serif;
  position: relative;
  font-variation-settings: 'wght' 100, 'wdth' 100;
  text-transform: uppercase;
  max-width: 50%;

  @media (max-width: 768px) {
    font-size: 1rem;
    padding: 0 1rem 1rem 1rem;
    max-width: 100%;
  }


  //&::after {
  //  content: '';
  //  position: absolute;
  //  top: .9em;
  //  left: 0;
  //  width: 9rem;
  //  height: 1px;
  //  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  //  z-index: -1;
  //}
}

body {
  background: #000;
}

section + section {
  margin-top: 10rem;

    @media (max-width: 768px) {
        margin-top: 5rem;
    }
}

section {
  &:last-of-type {
    margin-bottom: 10rem;

    @media (max-width: 768px) {
        margin-bottom: 5rem;
    }
  }
}
